*{
margin: 0px;
padding: 0px;
box-sizing: border-box;

}


body{

height: 6100px;
background: url(../images/PicsAr_09-19-12.03.23.jpg) ,rgb(12, 12, 46);
background-position: top , 100% 670px;
background-size: 100% 670px;
position: relative;
background-repeat:no-repeat ;


}
h1{
    background-color: "brown";
    font-size: 2"rem";
}

.header{
width: 100%;
height: 60px;
background-color: rgb(131, 131, 184);
top: 0;
left: 0;
position: fixed;
overflow: auto;
opacity: 0.8;
z-index: 90;

}

.qq{
    margin-left: 15px;
}

.header-overley1{
    background-color: rgb(107, 29, 29);
    height: 3px;
    width: 50px;
    margin-top: -15px;
}

.header-overley2{
   background-color: rgb(107, 29, 29);
    height: 3px;
    width: 50px;
    margin-top: -15px;
    margin-left: 5px;
    transition: 0.7s;

    opacity: 0;
    
}

.header-overley3{
    background-color: rgb(107, 29, 29);
     height: 3px;
     width: 50px;
     margin-top: 5px;
     margin-left: 5px;
     transition: 0.7s;
 
     opacity: 0;

     }

.list  li  a:hover .header-overley2{
   opacity: 1;
    
}

.list  li  a:hover .header-overley3{
    opacity: 1;
     
 }


.list {
    list-style-type: none;
    float: right;
    margin-right: 20px;

}
.list li {
    display: inline-block;
    margin-right: 40px;
    line-height: 60px;
    transition: 0.7s;

}

.list  li  a  {

    text-decoration: none;
    color: rgb(154, 14, 14);
    font-size: 20px;
    
}



.head{
    height: 60px;
    width: 120px;
    margin-left: 85px;
    position: absolute;
    z-index: 2;
}

.head2{
height: 60px;
width: 200px;
margin-left:60px ;
position: absolute;

}

.uheader{
    height: 60px;
    width: 100%;
    z-index: -1;
}

.start{
    height: 150px;
width: 500px;
background-color: rgb(108, 108, 235);
margin: auto;
margin-top: 300px;
opacity: 0.7;

}

.btn{

    height: 50px;
    width: 200px;
   
    margin-top: 280px;
    float: left;
    text-align: center;
    font-size: 35px;
    text-decoration: none;
    color: white    ;
    border-radius: 20px;
    line-height: 50px;
    transition: 0.5s;

}

.btn1{
    
    background-color: rgb(167, 65, 65);
    margin-left: 435px;


}
.btn1:hover{
    background-color: rgb(122, 59, 59);
}


.btn2{
   
background-color:rgb(85, 85, 189) ;
margin-left: 60px;

}
.btn2:hover{
    background-color: rgb(57, 62, 121);
}

.account{
float: left;
margin-top:330px ;
margin-left: -350px;
font-size: 29px;
text-decoration: none;

}

.div2{
    
    height: 50px;
width: 100%;
margin-top: 610px;
}

.h2-welcome{
    color: rgb(173, 171, 171);
    text-align: center;
}
.under-welcome{
    height: 3px;
    width: 100px;
    background-color: aqua;
    margin: auto;
    margin-top: 6px;
}

.welcome-container{
    width: 100% ;
    margin: auto;
    margin-top: 50px;
    margin-right: 35px;
    position: relative;
    z-index: 1;
    
}

.welcome-item{
height: 300px;
width: 400px;
margin: auto;
float: left;
margin-left: 35px;

}

.welcome-img{
   
border-radius: 50%;
z-index: 3;

}

.welcome-img img{
    width: 100px;
    border: 5px solid rgb(12, 12, 46) ;
    z-index: 2;
    position: absolute;
    border-radius: 50%
    
    
}

.welcome-supject{
    border-radius: 20px;
background-color: rgb(21, 25, 68);
height: 200px;
width: 300px;
margin-top: 50px;
margin-left: 50px;
position: relative;
transition: color 0.6s;


}
.welcome-links{
    text-decoration: none;
}

.welcome-supject h2 {

display: inline-block;
color: black;
transition: 1.2s;

}

.welcome-supject:hover h2 {
    color: white;
}

.welcome-supject:hover i {
    color: white;
}

.welcome-supject:hover p {
    color: white;
}

.welcome-supject i {

    margin: 35px 35px;
    font-size: 30px;
    height: 10px;
    width: 10px;
    color: black;
    transition: 1.2s;

}
.welcome-supject p {

   
    color: rgb(98, 98, 98);
    height: 70px;
    width: 250px;
    font-size: 20px;
    padding-left: 32px;
    transition: 1.2s;

}

.welcome-supject::after {
    border-radius: 20px;

position: absolute;
content: "";

width: 0;
height: 0;

bottom: 0;
right: 0;

background-color: rgb(51, 51, 80);
opacity: 0;

transition: 0.6s;

}

.welcome-supject:hover::after {

    width: 100%;
    height: 100%;
    border-radius: 20px;
    

    opacity: 0.7;

}

.players{
    background-color: rgb(21, 25, 68);
    width: 100%;
    height: 700px;
    margin-top: 500px;
    position: relative;
    
}



.h2-players{

    text-align: center;
    color: rgb(173, 171, 171);
    padding-top: 20px;
}

.under-players{
    height: 3px;
    width: 80px;
    background-color: aqua;
    margin: auto;
    margin-top: 6px;

}

.players-contant{
    margin: auto;
    width: 80%;
    background-color: grey;
    position: relative;
}

.players-item{
width: 30%;
position: relative;
float: left;
padding: 20px;
padding-top: 30px;
margin-left: 30px;
margin-top: 20px;
opacity: 1;
transition: 0.6s;
}

.players-item:hover img{
    opacity: 0.5;
}

.players-item:hover .players-info{
    opacity:1;
    visibility: visible;
}

.players-item img{
    margin-left: 40px;
    border-radius: 20px;
    transition: 0.6s;
    
}

.players-info{
    top: 50%;
    left:50% ;
    color: white;
    transform: translate( -50% , -50% );
    height: 210px;
    width: 170px;
    position: absolute;
    text-align: center;
    opacity: 0;
    transition: 0.6s;
    visibility: hidden;
    
    
    
}

.players-info h2{
    font-size: 27px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 20px;
}

.players-info h3{
    float: left;
    margin-left: 8px;
    font-size: 16px;
    margin-top: 50px;
}

.players-info i{
    padding: 10px;
    
    color: rgb(255, 255, 255);
}

.matches{
    
    position: relative;
    height: 650px;
    width: 100%;
    background-color: rgb(12, 12, 46);
}

.matches-title{
    width: 100%;
    height: 40px;
    
    
}

.under-matches{
    height: 3px;
    width: 60px;
    background-color: aqua;
    margin: auto;
    margin-top: 5px;
}

.matches-title h2{
    font-size: 30px;
    margin: auto;
    text-align: center;
    color: rgb(173, 171, 171);
    padding-top: 12px;
}

.matches-item1{
    position: relative;
    float: right;
    height: 650px;
    width: 400px;
    
    margin-right: 120px;
    
   

}

.matches-item2{
    position: relative;
    float: left;
    height: 650px;
    width: 400px;
    
    margin-left: 120px;
    
    
}

.matches-item{
   height: 150px;
   width: 400px;
   background-color: rgb(21, 25, 68);
   margin-top: 40px;
   border-radius: 20px;
   opacity: 1;
   transition: 0.6s;
}

.matches-item:hover{

opacity: 0.7;
}

u{
    color: rgb(162, 154, 154);
}

.matches-item1 h2{
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
    color: rgb(162, 154, 154);
}

.matches-item2 h2{
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
    color: rgb(162, 154, 154);
}

.img1{
    height: 70px;
    width: 120px;
    margin-top: 10px;
    
}
.img2{
    height: 70px;
    width: 70px;
    margin-left: 70px;
    
}

.img3{
    height: 70px;
    width: 110px;
    margin-left: 50px;
}

.vs{
    display: inline-block;
    height: 30px;
    width: 70px;
    font-size: 20px;
    margin-left: 30px;
    
}

.vs h3{
    text-align: center;
    color: rgb(195, 195, 195)
}

.vs h5{
    text-align: center;
    color: rgb(255, 255, 255);
}

.vs h6{
    text-align: center;
    color: rgb(195, 195, 195);
}

.matches-league{
    display: inline-block;
}

.Details{
   float: right;
   margin-right: 30px;
   line-height: 0px;
   font-size: 30px;
   background-color: white;
   visibility: hidden;
}

.matches-item:hover .Details{
    visibility: visible;
    opacity: 1;
}

.matches-league img{
    height: 40px;
    width: 40px;
    margin-top: 15px;
    margin-left: 15px;
    opacity: 0.7;
}
.h3-champions{
    font-size: 25px;
    float: right;
    margin-top: 20px;
    margin-right: 120px;
    color: black;
}

.h3-laliga{
    
    font-size: 25px;
    float: right;
    margin-top: 20px;
    margin-right: 250px;
    color: rgb(255, 84, 84);
    opacity: 0.7;
  
}

.matches-league a{
    text-decoration: none;
color: rgb(40, 69, 119);

}

.legend{
    background-color: rgb(21, 25, 68);
    width: 100%;
    height: 600px;
    margin-top: 100px;
    position: relative;
}

.legend-title{
    width: 100%;
    height: 50px;
    
}

.h2-legend{
    text-align: center;
    color:rgb(173, 171, 171) ;
    padding-top: 10px;
}

.under-legend{
    height: 3px;
    width: 130px;
    background-color: aqua;
    margin: auto;
    margin-top: 5px;
}


.legend-p{

    display: inline-block;
    margin-left: 60px;
    margin-top: 30px;
    height: 500px;
    width: 600px;

}

.legend-p h2{
    margin-left: 20px;
    font-size: 35px;
    color: white;
    
}

.legend-p h4{
    color: rgb(190, 190, 190);
    font-size: 20px;
    margin-top: 20px;
    
    
}

.legend-p p{
    font-size: 20px;
    margin-top: 15px;
    letter-spacing: 1px;
    color: rgb(158, 158, 158);
}

.legend-img{
    margin-top: 30px;
    margin-right: 100px;
    float: right;
    height: 500px;
    width: 400px;
    position: relative;
}

.leo img{
    height: 450px;
    width: 400px;
}


.leo div{
    
    height: 5px;
    width: 40px;
    float: left;
    margin-top: 15px;
    margin-left: 70px;
    border-radius: 7px;
    
}

.d1{
    background: red;
}

.d2{
   background-color: grey;
   transition: 0.7s;
}

.d2:hover{
    background-color: red;
}


.legend-awards{
    height: 300px;
    width: 100%;
    position: relative;
    background-image: url(../images/lionel-messi-01.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(0,0,0,0.9);


}

.legend-overley{
    position: absolute;
    width: 100%;
    height: 100%;
    
    
    background-color: rgba(0, 0, 0, 0.5);
}

.legend-item{
    position: relative;
    height: 200px;
    width: 100%;
    font-size: 25px;
    color: rgb(220, 217, 217);
    
    text-align: center;
    
}

.legend-div{
    
    float: left;
    
    margin-top: 100px;
    margin-left: 200px;
    
}

.store{
    background-color: rgb(21, 25, 68);
    height: 700px;
    width: 100%;
    position: relative;
}

.store-title{
    width: 100%;
    height: 70px;
    
    
}

.store-title h2{
    text-align: center;
   color: rgb(173, 171, 171);
   padding-top: 30px;

}

.under-store{
    height: 3px;
    width: 80px;
    background-color: aqua;
    margin: auto;
    margin-top: 6px;
}

.store-contant{
    height: 500px;
    width: 90%;
    margin: auto;
    position: relative;
}

.store-item{
    height: 550px;
    width: 25%;
    float: left;
    margin-left: 75px;
    margin-top: 40px;
    position: relative;
}

.store-info{
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center;

}

.store-info img{
    height: 230px;
    width: 230px;
    border-radius: 50%;
    transition: 0.6s;
    
}

.T-S{
    height: 235px;
    width: 235px;
    border-radius: 50%;
    position: absolute;
    margin-top: -233px;
    margin-left: 36px;

    transition: 0.6s;

    
}

.T-S::after{
    position: absolute;
content: "";

width: 100%;
height: 0;

bottom: 0;
right: 0;

background-image: url(../images/FeC-6LMXoAA3AvE.jpg);

transition: 0.8s;
opacity: 0;


}

.pic-overley1:hover::after{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    
    background-image: url(../images/FeC-6LMXoAA3AvE.jpg);
    background-size: cover;

    opacity: 1;

    

    
}

.pic-overley2:hover::after{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    
    background-image: url(../images/mini_FCBarcelona-LiverpoolFC3-0AnadaSemifinalsUEFAChampionsLeague1819_pic_2019-05-01barcelona-liverpool50.jpg);
    background-size: cover;

    opacity: 1;

    
}

.pic-overley3:hover::after{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    
    background-image: url(../images/0_GettyImages-1602005163.webp);
    background-size: cover;

    opacity: 1;

    
}

.store-p{
    height: 320px;
    width: 230px;
    background-color: rgb(35, 34, 92);
    border-radius: 20px;
    
    
    margin: auto;
    
}

.store-p h2{
    padding-top: 10px;
}

.store-p input{
    margin-right: 10px;
    margin-top: 20px;
   
    
}

.store-p span{
    color: white;
    font-size: 20px;
}

.pieces input{
    width: 50px;
    border: 2px solid rgb(0, 0, 0);
}

.cart{
   padding: 10px 10px;
    margin-top: 20px;
    font-size: 20px;
    background-color: rgb(169, 160, 160);
    border-radius: 20px;
}

.store-overley{
   
    height: 320px;
    width: 230px;
    position: absolute;
    margin-left:37px ;
    bottom: 0;    
    border-radius: 20px;
    
}

.trophy{
    height: 400px;
    width: 100%;
    background-image: url(../images/mini_all-convos.png);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.trophy-overley{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);

}

.trophy-container{
    width: 100%;
    margin: auto;
}

.trophy-contant{
    overflow: hidden;
    margin: auto;
    width: 90%;
}

.trophy-item{
    float: left;
    height: 340px;
    width: 250px;
    margin-left: 40px;
    margin-top: 30px;
    text-align: center;
    
}

.trophy-item img{
    border-radius: 50%;
    height: 170px;
    width: 170px;
    margin-top: 30px;
    
}

.trophy-item h2{
    padding-top: 10px;
    font-weight: bold;
    color: rgb(188, 187, 187);
}

.trophy-item p{
    font-size: 30px;
    color: white;
    padding-top: 10px;
}

.manage{
    height: 400px;
    width: 100%;
    background-color:rgb(12, 12, 46) ;
    position: relative;

}

.manage-title{
    width: 100%;
    height:70px ;
    
}

.manage-title h2{
    text-align: center;
    color:rgb(173, 171, 171) ;
    padding-top: 20px;
}

.under-manage{
    height: 3px;
    width: 120px;
    background-color: aqua;
    margin: auto;
    margin-top: 7px;
}

.manage-container{
    margin: auto;
    width: 80%;
    margin-top: 40px;
}

.manage-contant{
    overflow: hidden;
    padding-left: 20px;
}

.manage-item{
    display: block;
    float: left;
    width: 28%;
    background-color: #001f58;
    padding: 17px 13px;
    text-align: center;
    position: relative;
    border-radius: 10px;

}

.manage-item::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background-color: #1f1e1e;
    opacity: 0;
    transition: 0.7s;
    
}

.manage-item:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.4;
    visibility: visible;
}

.cv1{
    margin: 0 7%;
}

.manage-img{
    width: 90%;
    margin: auto;
    position: relative;
}

.manage-img img{
    width: 100%;
}

.manage-overley{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: 1s;
}

.manage-item:hover .manage-overley{
    visibility: visible;
    opacity: 1;
}

.manage-overley a{
    display: block;
    width: 40px;
    height: 40px;
    background-color: #71a3ff;
    color: #fff;
    margin-left: auto;
}

.manage-overley a i{
    line-height: 40px;
    font-size: 30px;
}

.fab{
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
}

.manage-info h3{
color: rgb(72, 72, 255);
padding: 10px 0px;
}

.manage-info span{
    color: white;
}

.news{
    height: 600px;
    width: 100%;
    background-image:url(../images/VO180820A19034.jpg) ;
    background-size: cover;
    margin-top: 150px;
    position: relative;
}

.news-overley{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.news-title{
    width: 100%;
    text-align: center;
}

.news-title h2{
    text-align: center;
    color: rgb(173, 171, 171);
    padding-top: 20px;
}

.under-news{
    margin: auto;
    height: 3px;
    width: 90px;
    background-color: aqua;
    margin-top: 3px;
}

.news-container{
    width: 80%;
    margin: auto;
    padding-top: 30px;
}

.news-contant{
    overflow: hidden;
    /* background-color: rgb(4, 4, 73); */
    height: 500px;
    
}

.news-item{
    float: left;
    width: 28%;
    background-color: rgb(171, 168, 168);
    position: relative;
    height: 500px;
    border-radius: 20px;
    text-align: center;
}

.news-item::after{
    position: absolute;
    content: "";

    height: 0;
    width: 100%;

    top: 50%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);

    opacity: 0;

    transition: 1s;
}

.news-item:hover::after{
    height: 50%;
    width: 100%;

    opacity: 0.6;

}


.news-item::before{
    position: absolute;
    content: "";

    height: 0;
    width: 100%;

    bottom: 50%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);

    opacity: 0;

    transition: 1s;
}

.news-item:hover::before{
    height: 50%;
    width: 100%;

    opacity: 0.6;

}

.cv2{
    margin: 0 8%;
}

.news-pic{
    width: 100%;
}

.news-pic img{
    border-radius: 20px;
}
    

.news-info{
    padding: 20px;
}

.news-info i{
    margin-left: 25px;
    color: rgb(20, 20, 89)
}

.news-info h3{
    font-size: 27px;
    padding-top: 15px;
    text-decoration: underline;
}

.news-info p{
    font-size: 17px;
    padding-top: 10px;
}

.news-info button{
    
    height: 50px;
    width: 100px;
    border-radius:20px ;
    background-color: grey;
  
}

.news-info button a{
    text-decoration: none;
    color: white;
    height: 100%;
    width: 100%;
}

.footer{
    width: 100%;
    height: 300px;
    background-image: url(../images/983164.jpg);
    background-size: cover;
    opacity: 0.5;
    position: relative;
}

.footer-contant{
   position: absolute;
   margin-top: 100px;
   margin-left: 100px;
}

.footer-contant i{
    height: 10px;
    font-size: 40px;
    margin-left: 20px;
    border: 10px solid white;
    border-radius: 50%;
    color: white;
    transition: 0.5s;
}

.footer-contant p{
    padding-top: 30px;
    color: white;
}

.footer-contant i:hover{
    opacity: 0.6;
}